header {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(
            180deg, /* De cima para baixo */
            rgba(0, 0, 0, 0.6) 0%,   /* Preto transparente (mais escuro no topo) */
            rgba(60, 20, 80, 0.4) 30%, /* Roxo escuro transparente (dá o tom) */
            rgba(0, 0, 0, 0.8) 100%  /* Preto mais escuro na base (esconde o chão) */
        ),url('/IMAGE.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
